.notification {
  position: relative;
  right: -400px;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: white;
  width: 300px;
  margin-bottom: 8px;
  overflow: hidden;
  transition: right 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;

  &.success {
    background-color: #4caf50;
  }

  &.error {
    background-color: #f44336;
  }

  &.show {
    right: 0;
    opacity: 1;
  }

  .notificationContent {
    margin-bottom: 8px;
  }

  .progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: width 0.1s linear;
  }
}

.notificationManager {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1000;
  transition: top 0.3s ease-out;

  &.atTop {
    top: 135px;
  }
  @media (max-width: 768px) {
    &.atTop {
      top: 170px;
    }
  }
}
